.images-section {
    /* display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: rem; */
    position: relative;
}

.img-sect1 {
    transform: translateX(-10%);
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.bulb {
    transform: translateY(-5%);
}

.dot2 {
    /* transform: translateX(19%); */
    position: absolute;
    left: 18%;
    bottom: 1.5%;
}

.dot2 > img {
    width: 30.42px;
    height: 30.42px;
}

.figma {
    transform: translateX(-35%);
    display: flex;
    margin-top: 10rem;
}

.dot3 > img {
    position: absolute;
    left: 25%;
    bottom: 5%;
}

.hero-img {
    position: absolute;
    left: 10%;
    display: flex;
}

.hero-img > img {
    transform: translateY(-1%);
}

.vs-code {
    position: absolute;
    right: 12%;
    display: grid;
    gap: 158px;
    top: 2%;
}

.word-press {
    transform: translateX(35%);
    display: grid;
    gap: 28rem;
}

.press {
    width: 84.24px;
    height: 84.24px;
    border-radius: 10px;
    border: 1px solid #dddddd;
    background: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 480px){
    .images-section {
        transform: translateY(-15%);
    }

    .bulb {
        transform: scale(0.5);
    }

    .bulb > img {
        transform: translateX(-45%);
    }

    .dot2 > img {
        transform: translateX(-45px);
    }

    .figma {
        transform: scale(0.6);
        position: relative;
    }

    .figma > img {
        display: none;
    }

    .dot3 > img {
        transform: translateY(-105px);
    }

    .line > img {
        transform: scale(0.8);
        position: absolute;
        bottom: 250px;
        left: -50px;
    }

    .hero-img {
        /* width: 363.01px;
        height: 456px; */
        transform: scale(0.4);
        position: absolute;
        left: -45%;
    }

    .hero-img > img {
        transform: translateY(-45%);
    }

    .vs-code {
        position: absolute;
        right: 12%;
        display: grid;
        gap: 158px;
        top: -35%;
    }

    .word-press {
        transform: translateX(35%);
        display: grid;
        gap: 25rem;
    }
}