main {
    background: #004DB3;
    height: 947px;
    width: 100%;
}

.vector11 > img {
    transform: translateY(430px);
}

.dots {
    display: flex;
    gap: 30rem;
    transform: translateY(-150px);
}

.dot1 {
    transform: translateY(10px);
}

.first-section {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    position: relative;
    padding: 50px;
}

.main-sec {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translateY(12%);
}

.main-sec > span:nth-of-type(1) {
    font-family: 'Clash Display', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 82px;
    color: #fff;
    width: 698px;
    /* text-align: center; */
}

.main-sec > span:nth-of-type(2) {
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
    width: 533px;
    height: 52px;
    line-height: 26px;
    font-weight: 500;
    color: #E7E7E7;
    text-transform: capitalize;
}

.btn {
    display: flex;
    gap: 20px;
}

.main-btn > button {
    width: 194px;
    height: 52px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Satoshi', sans-serif;
    text-transform: capitalize;
    line-height: 21.6px;
    background: #004DB3;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.main-btn > button > img {
    transform: translateX(10px);
}

.main-btn2 > button {
    width: 124px;
    height: 52px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Satoshi', sans-serif;
    text-transform: capitalize;
    line-height: 21.6px;
    background: white;
    border: 1px solid white;
    border-radius: 5px;
    color: #004DB3;
}

.main-images {
    display: flex;
    align-items: center;
    gap: 10px;
}

.preview {
    display: flex;
    flex-direction: column;
}

.preview > span:nth-of-type(1) {
    width: 79px;
    /* height: 50px; */
    font-family: 'Clash Display', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.52px;
    color: #E7E7E7;
}

.preview > span:nth-of-type(2) {
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;
    font-family: 'Satoshi', sans-serif;
    color: #FFFFFF;
}


/* Media Query */
@media screen and (max-width: 480px){
    main {
        background: #004DB3;
        height: 714px;
        width: 100%;
    }

    .vector11 > img {
        transform: translateY(330px);
        position: absolute;
        left: -2rem;
    }

    .dots {
        display: none;
    }

    .first-section {
        display: flex;
        flex-direction: column;
        padding: 25px;
    }

    .main-sec {
        transform: translateY(-10%);
    }

    .main-sec > span:nth-of-type(1) {
        font-family: 'Clash Display', sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 45.78px;
        color: #fff;
        width: 389.7px;
        text-align: center;
        transform: translateX(-10%);
    }

    .main-sec > span:nth-of-type(2) {
        font-family: 'Satoshi', sans-serif;
        font-size: 8px;
        width: 297.58px;
        height: 30px;
        line-height: 14.52px;
        font-weight: 500;
        color: #E7E7E7;
        text-transform: capitalize;
        text-align: center;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-btn > button {
        width: 88px;
        height: 40px;
        font-size: 8px;
        font-weight: 700;
        font-family: 'Satoshi', sans-serif;
        text-transform: capitalize;
        line-height: 10.8px;
        background: #004DB3;
        border: 1px solid white;
        border-radius: 5px;
        color: white;
    }

    .main-btn > button > img {
        transform: translateX(5px);
        width: 6.5px;
        height: 6.5px;
    }

    .main-btn2 {
        display: flex;
        align-items: center;
    }

    .main-btn2 > button {
        width: 73px;
        height: 40px;
        font-size: 8px;
        font-weight: 700;
        font-family: 'Satoshi', sans-serif;
        text-transform: capitalize;
        line-height: 10.8px;
        background: white;
        border: 1px solid white;
        border-radius: 5px;
        color: #004DB3;
        padding: 8px, 16px, 8px, 16px;
    }

    .main-images {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-images > img {
        transform: scale(0.7);
    }

    .preview {
        transform: translateX(-30px);
    }

    .preview > span:nth-of-type(1) {
        width: 51px;
        /* height: 50px; */
        font-family: 'Clash Display', sans-serif;
        font-weight: 700;
        font-size: 13.4px;
        line-height: 16.48px;
        color: #E7E7E7;
    }
    
    .preview > span:nth-of-type(2) {
        font-size: 8px;
        font-weight: 500;
        line-height: 10.8px;
        font-family: 'Satoshi', sans-serif;
        color: #FFFFFF;
    }
}

